// Here you can add other styles


@media only screen and (max-width: 1200px) {
    .login_page {
        .login_btn_sec {
            flex-direction: column-reverse;
            text-align: center;
            padding: 0;

            div {
                width: 100%;

                button {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .otp_input_body {
        .otp_input_card {
            margin: 0 !important;
        }
    }
}


// set edit and delete buttons
.editDeleteButton {
    width: 100%;
    min-width: 30px;
    background: rgba(88, 86, 214, 0.08);
    height: 30px;
    border-radius: 50%;
    font-size: 17px;
    cursor: pointer;
    margin-top: 2px;
}

// override tbl css
.mantine-1m3tpc2 {
    margin: 0 20px;
}

.mantine-1qybf08 {
    background-color: #5856d614;
}

.mantine-augnbd>thead>tr>th,
.mantine-augnbd>tfoot>tr>th,
.mantine-augnbd>tbody>tr>th {
    color: black;
}

.mantine-1uskmy4 {
    letter-spacing: 1px;
}

.mantine-1knjhw7 {
    padding-bottom: 20px;
}

.mantine-1g7noys {
    justify-content: center;
}

.mantine-yzu17x {
    text-align: center;
}

.react-date-picker,
.react-time-picker {
    width: 100%;

    .react-date-picker__wrapper,
    .react-time-picker__wrapper {
        border-radius: 0.375rem;
        padding: 4.5px;
        border-color: #dee2e6;
    }

    &.is-invalid .react-date-picker__wrapper,
    &.is-invalid .react-time-picker__wrapper {
        border: 1px solid red;
    }
}

.modal-dialog {
    width: 300px !important;
    height: 300px !important;
}