// Here you can add other styles


@media only screen and (max-width: 1200px) {
    .login_page {
        .login_btn_sec {
            flex-direction: column-reverse;
            text-align: center;
            padding: 0;

            div {
                width: 100%;

                button {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .otp_input_body {
        .otp_input_card {
            margin: 0 !important;
        }
    }
}